Adafruit-Blinka==9.1.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-neopixel-spi==1.0.16
adafruit-circuitpython-pixelbuf==2.0.12
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-typing==1.12.3
adafruit-circuitpython-vl53l0x==3.6.19
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
appdirs==1.4.4
argcomplete==3.6.3
asgiref==3.11.1
binho-host-adapter==0.1.6
Django==6.0.5
evdev==1.9.3
fonttools==4.63.0
gunicorn==26.0.0
importlib_resources==7.1.0
packaging==26.2
pillow==12.2.0
pyfiglet==1.0.4
pyftdi==0.57.1
pyserial==3.5
python-barcode==0.16.1
python-escpos==3.1
pyusb==1.3.1
PyYAML==6.0.3
qrcode==8.2
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
six==1.17.0
sqlparse==0.5.5
sysv_ipc==1.2.0
typing_extensions==4.15.0
whitenoise==6.12.0
